<html lang="en">
  


  <body>
    

   <div class="create-article content">
    <form>
        <label for="title">Название статьи</label>
        <input type="text" id="title" required>
        <label for="body">Содержание</label>
        <textarea id="body" required></textarea>
        <button>Опубликовать</button>
    </form>
   </div>

   
  </body>
</html>